In [28]:
import pandas as pd
import string
% pylab

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

/home/treharne/.local/lib/python3.5/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['types']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
df = pd.read_excel('allocations_sanitised.xlsx')

In [4]:
df.head()

  Style                                        Description
0     B  Topic 1: A systematic approach to convergent e...
1     L  Topic 1: Cell cycle determinants of chemothera...
2     L  Topic 3:  Topic 3: Heparan sulfate and Alzheim...
3     L  Topic 1: Axonal transport in hereditary spasti...
4     B  Topic 1: Bioinformatics related to proteomics ...

In [5]:
df['Style'] = df['Style'].str.replace(' ', '')
df['Style'] = df['Style'].str.replace('/', '')
df['Style'] = df['Style'].str.replace('Computer-baseddataanalysis', 'D')
df['Style'] = df['Style'].str.replace('Deskbased', 'D')
df['Style'] = df['Style'].str.replace('LabFieldandDry', 'LF')
df['Style'] = df['Style'].str.replace('Library', 'D')
df['Style'] = df['Style'].str.replace('+', '')
df['Style'] = df['Style'].str.replace('TBC', '')
df['Style'] = df['Style'].str.upper()

In [6]:
types = set(df['Style'])

In [7]:
types

{'',
 'B',
 'BL',
 'BLM',
 'BM',
 'D',
 'E',
 'F',
 'L',
 'LB',
 'LBF',
 'LF',
 'M',
 'ME',
 'ML',
 'N',
 'O',
 'S',
 'SL',
 'Y',
 nan}

In [8]:
style_dict = {'B': 'Bioinformatics',
              'L': 'Lab Work',
              'M': 'Medical',
              'D': 'Desk Based',
              'O': '?',
              'E': 'Educational',
              'S': 'Schools',
              'F': 'Field Work'}

In [9]:
group = df.groupby('Style').count()

In [10]:
group

       Description
Style
                 1
B               36
BL               2
BLM              1
BM               3
D                7
E                3
F               11
L              182
LB               4
LBF              1
LF               1
M               24
ME               1
ML               2
N                1
O                5
S               15
SL               1
Y                1

In [11]:
# define new dataframe base on primary type only
df3 = df

In [12]:
df3['Style'] = df3['Style'].astype(str).str[0]

In [13]:
group_primary = df3.groupby('Style').count()

In [20]:
group_f = group_primary['Description']

In [21]:
dict(group_f)

{'B': 42,
 'D': 7,
 'E': 3,
 'F': 11,
 'L': 188,
 'M': 27,
 'N': 1,
 'O': 5,
 'S': 16,
 'Y': 1,
 'n': 9}

In [22]:
group_dict = dict(group_f)

In [23]:
del group_dict['n']
del group_dict['Y']
del group_dict['N']

In [24]:
group_dict

{'B': 42, 'D': 7, 'E': 3, 'F': 11, 'L': 188, 'M': 27, 'O': 5, 'S': 16}

In [25]:
cat = group_dict.keys()

In [26]:
val = group_dict.values()

In [29]:

pie(val, labels=cat, startangle=90)
axis('equal')

(-1.1113459633854783,
 1.1013162879572693,
 -1.1141582830815793,
 1.1006742040206783)